 <footer class="footer">
        <div class="container footer-inner">
            <div>
                <strong>TOPIKHub</strong><br>
                <span>Modern Korean exam preparation platform.</span>
            </div>

            <div class="footer-links">
                <a href="#">Home</a>
                <a href="#">Reading</a>
                <a href="#">Listening</a>
                <a href="#">Writing</a>
                <a href="#">Speaking Practice</a>
                <a href="#">Mock Tests</a>
            </div>
        </div>
    </footer>